


/*<--Navigation-->*/

.nav a{
  color:#132615;
  text-decoration: none;
  border-bottom: 0px solid transparent;  
}

.nav a:hover{
  text-decoration: none;

  color: #72223C;
  border-bottom: 3px solid #72223C;
}


.nav li{
  display:inline-block;
  float: right;
  padding: 0 15px 0px 15px;
  font-size: 20px;
  color: white;
  font-family: 'Neuton', serif;

}

/*<--FullScreen-->*/

#name{
  text-align: center;
  font-size: 80px;
  font-family: 'Neuton', serif;
  color: #132615;
  padding-top: 100px;

}

#snipet{
  text-align: center;
  font-size:36px;
  font-family: 'Neuton', serif;
  color: #132615;
}


.fullscreen {
  height: 100%;
  width: 100%;
  background: url('../images/toisan.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}


/*<--About Me -->*/

.container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}


p {
	font-size: 24px;
	font-family: 'Neuton', serif;
	line-height: 40px;
  color: #132615;
}

#big_letter {
	font-size:72px;
}

/*<--Span-->*/

#links a{
  color: #72223C;
}

/*<--line-->*/

.line{
	max-width: 100px;
	border-top: 1px solid black;
	margin: 0 auto;
  padding: 20px 0;
}

/*<--Footer-->*/

.contact{
	padding-bottom: 50px;
}

.container-contact{
	max-width: 900px;
	margin: 0 auto;
}

h3{
	font-family: 'Neuton', serif;
	font-size: 10px;
	text-align: center;
}


h4{
	text-align: center;
	font-size: 12px;
	font-family: 'Neuton', serif;
}

/*<--Footer-->*/

.footer{
  padding: 50px 10px 10px 0;
}

.footer h5{
  font-size: 10px;
  color:#132615;
  float:right;
}


/*<------------Work HTML------------>*/

.coming-soon{
  text-align: center;
  padding-top: 150px;
  background-color: #D8A497;
  font-family:'Neuton', serif;
  height: 100%;
  width: 100%;
}
.coming-soon h1{
  color:#72223C;
  font-size: 75px;

}

.coming-soon a{
  text-decoration: none;
  color: #72223C;
  font-size: 20px;
}


/*<------------Photos HTML------------>*/

.photos .container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  border-top: 0.5px solid black;
}

.heading{
  text-align: center;
  padding: 20px 0;
}

.heading .nav {
  padding-right: 20px;
}


.heading h1{
  font-family:'Neuton', serif;
  font-size: 45px;
}


.photos h1{
  font-family:'Neuton', serif;
  font-size: 28px;
  text-align: center;


}

.photos .location{
  color: #50B29A;
  padding-top: 30px;
}

.photos .date{
  color: #B25335;
}


.photo {
  height:auto;
  width:auto;
  max-width: 400px;
  max-height: 420px;
  padding: 10px 0 10px 0;
  display:block;
  margin:auto;
}

.tobecontinued{
  text-align: center;
  color: #50B29A;
  padding-top: 50px;
}

.tobecontinued h1{
  color: #50B29A;
  font-size: 36px;
}


/*<--Work Html-->*/

.portfolio{
  background-color: #D8FFD3;
}

#stc{
  height:auto;
  width:auto;
  max-width: 350px;
  max-height: 370px;
  display:block;
  margin:auto;
}

.work h1, h2, h3, h4, h5{
  font-family:'Neuton', serif;
}
.work h1{
  color: #B25353; 
}

.work h2{
  font-size: 20px;
  color:#51616A;
}

.portfolio h3{
  font-size: 30px;
  padding: 5px 0;
  color: #B25353;
}

.portfolio h4{
  color: #51616A;
  padding: 5px 0;
  text-decoration: underline;
}

.portfolio h5{
  color: #51616A;
  font-size: 18px;
  padding-top: 5px;
  text-align: justify;
  text-justify: inter-word;
}

html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }
